.heading {
  text-align: center;
  font-size: 5em;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 5% 0 5%;
}

.nav {
  flex: 30%;
}

.content {
  flex: 70%;
}

/* 
.content {
  display: flex;
}

.header {
  font-family: Helvetica, sans-serif;
  text-align: center;
  height: 70px;
}

.home {
  display: flex;
  flex: 80%;
}

.nav {
  flex: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
}

.home {
  flex: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: left;
  text-align: left;
}

.book {
  flex: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: left;
  text-align: left;
}

.img {
  width: 500px;
  height: 100%;
} */