
.header {
  font-family: Helvetica, sans-serif;
  text-align: center;
  height: 70px;
}

.content {
  display: flex;
  flex-direction: column;
}
.title {
  flex: 1;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex: 5;
}

.nav {
  flex: 0.3;
  flex-direction: column;
  align-items: left;
  padding:10px;
  font-size: 16px;
  
  
}
ul {
padding: 0;
list-style-type: none;
}


.book {
  flex: 0.7;
  flex-direction: column;
  align-items: left;
  padding:10px;
  font-size: 16px;
  
}
/* .nav {
  flex: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: left;
  padding:10px;
  font-size: 16px;
  border: 2px solid blueviolet;
  
} */

/* .home {
  flex: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: left;
  text-align: left;
} */

/* .book {
  flex: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: left;
  text-align: left;
} */

.img {
  width: 500px;
  height: 100%;
}

/* .heading {
  text-align: center;
  font-size: 5em;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 5% 0 5%;
}

.nav {
  flex: 30%;
}

.content {
  flex: 70%;
} */
